// .container-1 {
//   background-color: white;
//   width: 640px;
//   height: 432px;
//   left: 359px;
//   top: 182px;
//   border-radius: 12px;
//   margin-bottom: 30px;
// }

// .eq-name-reviews {
//   display: flex;
//   flex-direction: row;
//   width: 100%;
//   justify-content: space-between
// }

.equipment-image {
width: 246px;
height: 150px;
left: 372px;
top: 232px;
border-radius: 20px;
}


// .uploaded-by {
//   display: flex;
//   flex-direction: row;
//   padding-top: 10px;
//   padding-left: 10px;

//   p {
//     margin: 0px;
//     text-align: center;
//   }
// }

// .wrapper-1 {
//   display: flex;
//   padding: 10px;
//   width: 100%;
// }

// .wrapper-name-description {
//    display: flex;
//    flex-direction: column;
//    margin-right: 10px;
//    margin-left: 20px;
//    width: 100%;
// }

// .wrapper-2 {
//   display: flex;
//   padding: 10px;
// }

// .equipment-info {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   width: 100%;
//   justify-content: space-between;
//   margin-left: 20px;
// }

// .buttons {
//   display: flex;
//   justify-content: center;
//   padding: 10px;
// }
.container-2 {
  text-transform: uppercase;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 520px;
  height: 350px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  border-radius: 16px;
}

.equipment-category, .stars {
  font-size: 0.6em;
  letter-spacing: 1px;
  color: rgb(150,150,150)
}

.stars {
  flex-grow: 1;
  text-align: right;
  font-size: 10px;
}

.equipment-name {
  font-size: 1.2em;
  margin-top: -5px;
}

.equipment-price {
  margin-top: -5px;
}

.main-image {
  width: 290px;
  margin-top: 40px;
  margin-bottom: 20px;
  height: 210px;
  display: cover;
  border-radius: 8px;
}

.equipment-info {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
  margin-left: 10px;
  h1, h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    color:#00344F;
  }
}

.crud-buttons {
  position: absolute;
  margin-top: 130px;
}

.equipment-description {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
  color:#155374;
}

.crud-button {
  letter-spacing: 0;
  margin-bottom: 17px;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.equipment-button {
  padding: 10px;
  display: inline-block;
  border-radius: 16px;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: bold;
  color:#00344F;
  border-radius: 8px;
}
.buttons {
  position: relative;
}

.book-button {
  position: absolute;
  right: 25px;
  bottom: 69px;
}

.holder {
  position: relative;
}

.card-review {
  height: 50px;
  display: flex;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-top: 10%;
  border-radius: 8px;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

.equipment-card {
  position: sticky;
  top: 1rem;
}

.review-stars {
  margin: 0;
  margin-right: 1rem;
  text-align: right;
}

.review-content {
  margin: 0;
  margin-left: 1rem;
}


.orange-title-bar-2 {
  background-color: #EE6F57;
  height: 5px;
  position: absolute;
  left: 20px;
  top: 25px;
}

.orange-title-bar-3 {
  background-color: #EE6F57;
  height: 5px;
  position: absolute;
  left: 150px;
  top: 20px;
}

#booking-form {
  height: 300px;
  padding: 1rem !important;
}

.content-form {
  width: 100%;
  padding: 0px;
}


.review-text {
  font-family: 'Montserrat';
  font-weight: bold;
  color:#00344F;
}

.review-content {
  font-family: 'Raleway';
  color: #155374;
}

.content-form {
  h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    color:#00344F;
  }
  label {
    font-family: 'Montserrat';
    font-weight: bold;
    color:#00344F;
  }
}

#new-form-submit-button {
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    &:hover {
      color:#00344F;
    }
  }

#stars {
  flex-grow: 1;
  text-align: right;
  font-size: 10px;
  margin-right: 8px;

}











