.orange-title-bar {
  background-color: #EE6F57;
  height: 5px;
  position: absolute;
  left: 120px;
  top: 35px;
}

.new-form {
  position: relative;
  .btn {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.form-card {
  border-radius: 24px;
  width: 85%;
  margin: 0;
}
