// Specific CSS for your home-page

.home-video-wrapper {
  height: 100vh;
  display: flex;

}
.home-video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
 background-color: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
 margin-bottom: 10px;
}

.video-textbox {
  position: relative;
  top: 100px;
  left: 100px;
  h1, p {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Montserrat';
    color: white;
  }
}

.btn-landing{
  font-family: 'Montserrat';
  border-radius: 8px;
  color: white;
  border-style: none;
  padding: 10px;
  background-color: #EE6F57;
}

.btn-landing:hover {
  color: #00334E;
}
