<div class="footer">
  <div class="link-left flex-grow-1">
    <div class="rights">
      ©2020 Zona, Inc.All rights reserved
    </div>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
  </div>

  <div class="social-media-links flex-shrink-0">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
