
<div class="home-video-wrapper">
  <%= video_tag "ski.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home-video" %>
  <div class="video-textbox">
    <h1>No Equipment? No Problem</h1>
    <p>Find <strong>ANY</strong> equipment you might need to start your sports journey!</p>
    <%= link_to "Start Journey", equipment_index_path, class: "btn-landing" %>
  </div>
</div>

