.cards-equipment {
  border-top: 1px solid #EE6F57;
  padding-top: 3%;
}

.card-equipment {
  height: 200px;
  display: flex;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-top: 3%;
  border-radius: 8px;
  padding: 8px;
  width: auto;
  img {
    border-radius: 8px;
  }
}

.card-equipment-infos {
  margin-left: 8px;
  flex-grow: 1;
  align-items: center;
}

.card-equipment-image {
  display: flex;
  align-items: center;
}

.card-center {
  display: flex;
  justify-content: space-between;
}
