.cards-equipment {
  border-top: 1px solid #EE6F57;
  padding-top: 3%;
}

.card-equipment {
  height: 225px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-top: 3%;
  border-radius: 8px;
  padding: 15px;
  width: auto;
  img {
    border-radius: 8px;
  }
}

.card-equipment-infos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;

  max-width: 100px;

}
@media only screen and (min-width: 1400px) {
  .card-text {
    width: 250px;
  }
}


.card-text {
  // max-width: 280px;
  margin: 0 15px;
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: .6em;
    color: rgb(150, 150, 150);
  }
  p {
    font-size: .7em;
  }
}


.card-equipment-image {
  display: flex;
  align-items: center;
}

#stars {
  margin-bottom: 0;
}

hr {
  color: $coral;
}

.active {
  opacity: 1 !important;
}

