a {
  color: #111;
  text-decoration: none;
  &:hover {
    color: #111;
    text-decoration: none;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: #FFFF;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar {
  padding-left: 7.31383%;
  padding-right: 7.31383%;
  padding-top: 3.125vw;

  margin-bottom: 1.625vw;
  background-color: #FFFF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// logo
.header-logo {
  min-width: 200px;
  color: $dark-blue;
  i {
    font-size: 16px;
    padding: 0 3%;
  }
  p {
  position: relative;
  top: -10px;
  left: 36px;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  }
}

h3 {
  font-weight: 600;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
}


//links
#dropdown-button {
  padding: 0;
  border: none;
  background-color: #FFFF;
}

.navbar-login {
  position: relative;
  top: -20px;
  font-family: 'Montserrat', sans-serif;
  a {
  font-size: 13px;
  padding-right: 1.25rem;
  }
}

.dropdown-menu a {
  display: block;
  padding-left: 5%;
}






