a {
  color: #111;
  text-decoration: none;
  &:hover {
    color: #111;
    text-decoration: none;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar {
  margin-left: 7.31383%;
  margin-right: 7.31383%;
  margin-top: 3.125vw;
  margin-bottom: 3.125vw;
  padding: 0;
}

// logo
.header-logo {
  min-width: 200px;
  i {
    font-size: 16px;
    padding: 0 3%;
  }
  p {
  position: relative;
  top: -10px;
  left: 36px;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  }
}

h3 {
  font-weight: 600;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
}


//links

.navbar-login {
  position: relative;
  top: -20px;
  font-family: 'Montserrat', sans-serif;
  a {
  font-size: 13px;
  padding-right: 1.25rem;
  }
}

.dropdown-menu a {
  display: block;
  padding-left: 5%;
}






