<div class="container d-flex justify-content-center">
  <div class="row d-flex justify-content-center p-5 shadow-sm bg-white form-card">
    <div class="col-8 new-form">
      <h1 class="text-center mb-4 title">Review equipment</h1>
      <hr align="left" width="15%" class="orange-title-bar mb-3">
        <%= simple_form_for [ @equipment, @review ] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, input_html: { min: 1, max: 5 }  %>
          <div class="submit-button text-center new-form-submit-button">
            <%= f.button :submit, "Add review!" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
